.upload {
	padding-top: 150px;
	width: 90%;
	margin: 0 auto;
	max-width: 1180px;
	position: relative;

	.container {
		border-radius: 12px;
		background-color: white;
		width: 100%;
		height: auto;
		min-height: 900px;
		max-height: 1200px;
		margin-bottom: 50px;

		.board-title {
			display: flex;
			width: 96%;
			margin: 10px 0 30px 1%;
			font-size: min(24px, 4.5vw);
			font-weight: 700;
			padding: min(28px, 4vw) 0 min(16px, 3vw) 1%;
			border-bottom: min(2px, 1vw) solid black;
		}

		.content-container {
			width: 96%;
			margin: 10px 0 30px 2%;
			height: auto;
			max-height: 1200px;

			.select-box {
				width: auto;
				font-size: min(16px, 2vw);
				cursor: pointer;
				margin-bottom: min(28px, 6vw);
			}

			input {
				width: 98%;
				height: min(42px, 8vw);
				margin-bottom: 25px;
				// margin-left: 2%;
				padding-left: min(1%, 1vw);
				font-size: min(15px, 3vw);
			}
		}

		.button {
			display: flex;
			justify-content: center;

			.cancel-button {
				margin: -10px 10px 45px 10px;
				cursor: pointer;
				width: auto;
				padding: min(6px, 1vw) min(6px, 3vw);
                display: flex;
                justify-content: center;
                align-items: center;
				height: 30px;
				border: 1px solid #ddd;
				font-size: min(16px, 3vw);
			}
			.upload-button {
				margin: -10px 10px 45px 10px;
				cursor: pointer;
				width: auto;
				height: auto;
				padding: min(6px, 1vw) min(6px, 3vw);
				border: 1px solid #ddd;
				background-color: #034bda;
				color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
				font-size: min(16px, 3vw);
			}
		}
	}
}
